SERVER_PORT=9000
SPRING_PROFILES_ACTIVE=dev
PAYMENT_SERVICE_URL=http://localhost:8080
MERCHANT_SERVICE_URL=http://localhost:8082
WEBHOOK_SERVICE_URL=http://localhost:8083
SETTLEMENT_SERVICE_URL=http://localhost:8084
